@define-color bg       rgba(40, 40, 40, 0.85); /* Sfondo Gruvbox semitrasparente */
@define-color fg       #ebdbb2;
@define-color fg-dim   #a89984;
@define-color red      #cc241d;
@define-color green    #98971a;
@define-color yellow   #d79921;
@define-color aqua     #689d6a;

* {
    font-family: "JetBrainsMono Nerd Font", "FiraCode Nerd Font", monospace;
    font-size: 13px; /* Perfetto sia per laptop che PC */
    font-weight: bold;
    border: none;
    box-shadow: none;
}

window#waybar {
    background-color: @bg;
    border-radius: 8px;
    color: @fg;
}

/* Moduli base (senza sfondo, solo testo colorato) */
#workspaces, #clock, #cpu, #memory, #backlight, #pulseaudio, #network, #battery, #tray, #custom-power {
    padding: 0 10px;
    background: transparent;
}

/* Workspaces minimalisti */
#workspaces button {
    color: @fg-dim;
    padding: 0 4px;
    transition: color 0.2s;
}
#workspaces button.active { color: @fg; }
#workspaces button:hover { color: @yellow; }

/* Colori Iconici Gruvbox Fluttuanti */
#clock { color: @fg; }
#cpu { color: @aqua; }
#memory { color: @yellow; }
#pulseaudio { color: @green; }
#backlight { color: @yellow; }
#network { color: @aqua; }

#battery { color: @green; }
#battery.charging { color: @yellow; }
#battery.critical:not(.charging) { color: @red; animation: blink 1s linear infinite; }

#custom-power { color: @red; font-size: 15px; }

@keyframes blink { 50% { opacity: 0.3; } }
